<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vue Basics</title>
        <link href="styles.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="app.js" defer></script>
    </head>
    <body>
        <header>
            <h1>Vue Course Goals</h1>
        </header>

        <section id="user-goals">
            <h2>My Course goals</h2>
            <input type="text" v-model="enteredGoalValue" />
            <button @click="addGoal">Add Goal</button>
            <p v-if="goals.length === 0">No Goals have been added yet - please start adding some!</p>
            <ul v-else>
                <li>Goal</li>
            </ul>

            <p v-show="goals.length === 0">No Goals have been added yet - please start adding some!</p>
            <ul v-show=""goals.length > 0">
                <li>Goal</li>
            </ul>
        </section>
    </body>
</html>